<div
  [class.active]="isActive"
  class="wrapper-container"
  id="wrapper-container"
  #wrapperContainer
>
  <!-- Sign-in Form Container -->
  <div class="form-container sign-in">
    <form (ngSubmit)="onSignIn()">
      <h1>Sign in</h1>
      <div class="input-box1">
        <input
          type="text"
          [(ngModel)]="signInEmail"
          name="signInEmail"
          placeholder="Username"
          autofocus
          required
        />
      </div>
      <div class="input-box1">
        <input
          type="password"
          [(ngModel)]="signInPassword"
          name="signInPassword"
          placeholder="Password"
          required
        />
      </div>
      <div class="remember-me">
        <label class="checkbox-remember"
          ><input type="checkbox" /> Remember me</label
        >
      </div>
      <button type="submit" id="login">Sign in</button>
    </form>
  </div>

  <div class="form-container sign-up">
    <form (ngSubmit)="onSignUp()">
      <h1>Register</h1>
      <!-- {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="notification is-danger">
          {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %} -->
      <p class="register_p">
        Please enter your email. You will receive a link that will allow you to
        create your account.
      </p>
      <div class="input-box1">
        <input
          type="email"
          [(ngModel)]="signUpEmail"
          name="signUpEmail"
          placeholder="Email"
          autofocus
          required
        />
      </div>
      <button type="submit" id="register">Register</button>
    </form>
  </div>

  <div class="toggle-container">
    <div class="toggle">
      <!-- Toggle Panel for Sign-in -->
      <div class="toggle-panel toggle-left">
        <h1>Welcome Back!</h1>
        <p>Enter your email and password to use all of the site features</p>
        <button class="hidden" id="to_signin" (click)="onSignInClick()">
          Sign In
        </button>
      </div>

      <!-- Toggle Panel for Sign-up -->
      <div class="toggle-panel toggle-right">
        <h1>Hello!</h1>
        <h1>You're a new user?</h1>
        <p>New users need to have a validated email to use docsite features</p>
        <button class="hidden" id="to_signup" (click)="onSignUpClick()">
          Register
        </button>
      </div>
    </div>
  </div>
</div>
